[submodule "vim/vim.symlink/bundle/ctrlp.vim"]
	path = vim/vim.symlink/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/tlib_vim"]
	path = vim/vim.symlink/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/vim.symlink/bundle/vim-addon-mw-utils"]
	path = vim/vim.symlink/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/vim.symlink/bundle/vim-snipmate"]
	path = vim/vim.symlink/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/vim.symlink/bundle/vim-snippets"]
	path = vim/vim.symlink/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/vim.symlink/bundle/vim-session"]
	path = vim/vim.symlink/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "vim/vim.symlink/bundle/vim-misc"]
	path = vim/vim.symlink/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/vim.symlink/bundle/vim-easymotion"]
	path = vim/vim.symlink/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
